select {
    background-color: blueviolet;
}

.categoryInput {
    border-radius: 50px;

}

.categoryButton {
    border-radius: 50px;
    color: red;
    background-color: inherit;
}

.output {
    
}